.homeContainer{
       display: flex;
       flex-direction: column;
       overflow: scroll;
}

.genreSection{
       display: flex;
       flex-direction: column;
       width: 100%;
       overflow: scroll;
}

.thumbnailContainer{
       display: flex;
       flex-direction: row;
}

.subGenre{
       margin: 35px;
}

.divider{
       color: 'black';
       height: 5;
       width: 100%;
}
