@import "../../styles/variables";

.navbarContainer{
	background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 200%, #895cf2 100%);
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.37);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.37);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.37);
	display: flex;
	height: 4rem;
	padding: 0 1.5rem;
	align-items: center;
	justify-content: space-between;
}

.link {
	text-decoration: none;
	font-size: 1.2rem;
	margin: 0 1rem 0 0;
}

.logoText{
	color: white;
	text-decoration: none;
}

.linksContainer{
	display: flex;
	flex-direction: row;
	color: white;
	margin: 0;
	.link:last-child {
		margin-right: 0;
	}
}

.userAction {
	background: none;
	font-size: 1.2rem;
}

.userAction:hover, .userAction:hover:not([disabled]) {
	background: none;
	outline: none;
}