.container{
       display: flex;
       flex-direction: column;
       width: auto;
}

.bottomPortion{
       border: 1px solid rgb(207, 207, 207);
       border-radius: 5px;
       padding: 0.6rem;
       padding-top: 1rem;
       align-items: center;
       width: inherit;
}

.topPortion{
       display: inline-block;
       margin-bottom:0;
       position: relative;
       padding-left: 5px;
       padding-right: 5px;
       top:15px;
       left: 10px;
       width: fit-content;
       background-color: white;
       font-weight: 700;
       font-size: 0.9rem;
}