.container{
       display:inline-flex;
       flex-direction:column;
       margin-left: 50px;
}

.disclaimerContainer{
      padding-left: 40vh;
      padding-right: 40vh;
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: center;
      display: flex;
}

.favoritesContainer{
       margin: 5px;
}