.container{
       display:inline-flex;
       flex-direction:column;
}

.disclaimerContainer{
      padding-left: 40vh;
      padding-right: 40vh;
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: center;
}