.container{
	border: 0px;
	background-image: linear-gradient(white,white),linear-gradient(to right, #895cf2 0%, #ffabf4 200%, #895cf2 100%);
	background-origin: border-box;
	background-clip: content-box, border-box;
	border-radius: 0.3rem;
	padding: 2px;
	margin: 5px;
	display: flex;
	flex-direction: row;
	-webkit-box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.3); 
	box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.2);
}

.content {
	display: flex;
	padding: 0.5rem;
	align-content: flex-start;
	width: 100%;
	justify-content: space-between;
}


.profilePictureContainer {
	background-color: #bbb;
	border-radius: 50%;
	max-height: 3rem;
	max-width: 3rem;
	margin: 0.5rem 0rem 0.5rem 0.5rem;
}

.profilePic{
	max-width:100%;
	max-height:100%;
	border-radius: 50%;
	object-fit: contain; 
}


.name {
	font-size: 0.9rem;
}

.comment{
	overflow: hidden;
	line-height: 1.2;
	font-size: 0.9rem;
}

.rating{
	white-space: nowrap;
	display: flex;
	padding: 0;
	> div {
		margin-top: -0.4rem;
	}
}

.nameAgeContainer{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	line-height: 1.4;
}

.age{
	position: relative;
	font-size: 0.7rem;
	color: rgb(87, 87, 87);
}

.loader{
	display: flex;
	justify-content: center;
}
