@import "../../styles/variables";

.link {
    text-decoration: none;
    color: black;
}

.error {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.errorText {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: $light-gray;
    font-weight: 700;
    
}

.errorImg {
    width: 100%;
    max-width: 30rem;
    margin: auto;
}

.pageButtons {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	justify-content: center;
	button {
		border-radius: 100%;
		height: 2.5rem;
		width: 2.5rem;
		margin-right: 1rem;
	}
	img {
		height: 1.5rem;
		width: 1.5rem;
	}
	img.lastPage {
		margin: 0 0 -0.4rem -0.2rem;
	}
	img.nextPage {
		margin: 0 -0.2rem -0.4rem 0;
	}
}

// @for $i from 1 through 10 {
//     .cardContainer:nth-child(#{$i})::after{
//         animation-delay: $i *1s;
//     }
// }

// .episodeContainer{
//     display: flex;
// 	flex-direction: row;
// 	border: 0px solid black;
// 	border-radius: 15px;
// 	margin-bottom: 1.5rem;
// 	height: 200px;
// 	padding: 1.5rem;
// 	-webkit-box-shadow: $box-shadow;
// 	-moz-box-shadow: $box-shadow;
// 	box-shadow: $box-shadow;
// 	animation-name: slideRight;
// 	-webkit-animation-name: slideRight;	

// 	animation-duration: 1.3s;	
// 	-webkit-animation-duration: 1.3s;

// 	animation-timing-function: ease-in;
// 	-webkit-animation-timing-function: ease-in;		

// 	visibility: visible !important;	
// }

// @keyframes slideRight {
// 	0% {
// 		transform: translateX(-90%);
// 	}		
// 	100% {
// 		transform: translateX(0%);
// 	}		
// }

// @-webkit-keyframes slideRight {
// 	0% {
// 		-webkit-transform: translateX(-90%);
// 	}	
// 	100% {
// 		-webkit-transform: translateX(0%);
// 	}
// }