@import "../../styles/variables";

.authContainer {
    // width: 15rem;
    @media screen and (min-width: 400px) {
        min-width: 20rem;
    }
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: $light-gray;
    box-shadow: $box-shadow;
    border-radius: 1rem;
    @media (orientation: landscape) {
        position: relative;
        left: 0;
        top: 1.5rem; 
        transform: none;
        margin: 0 auto;
    }
}

.authModal {
    // @media screen and (min-width: 400px) {
    //     min-width: 20rem;
    // }
    // display: flex;
    // flex-direction: column;
    // position: absolute;
    // margin: 0 auto;
    // padding: 1.5rem;
    // background-color: $light-gray;
    // box-shadow: $box-shadow;
    // border-radius: 1rem;
    // @media (orientation: landscape) {
    //     position: relative;
    //     left: 0;
    //     top: 1.5rem; 
    //     transform: none;
    //     margin: 0 auto;
    // }
}

.logo {
    text-align: center;
    img {
        height: 10rem;
        width: 10rem;
        border-radius: 100%;
    }
}

.formContainer{
    p {
        text-align: center;
        margin-bottom: 0.5rem;
    }
}

button.authButton {
    margin-top: 1rem;
    background: none;
    &:hover:not([disabled]) { 
        background: none;
        outline: none;
    }
}

button.forgotPassword {
    background: none;
    &:hover:not([disabled]) { 
        background: none;
        outline: none;
    }
    color: $blue;
    margin-top: -1rem;
    float: right;
}

button.backButton {
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
    display: inline-block;
    img {
        height: 1.5rem;
        width: 1.5rem;
        margin: 0 0 -0.3rem -0.1rem;
    }
}

button.submit, button.submitLoading {
    height: 2rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    font-family: 'Cairo';
    padding: 0 1rem;
    background-color: $blue;
}

button.submitLoading {
    width: 2rem;
    background-color: $dark-gray
}

button.submit:hover:not([disabled]) {
    background-color: $blue-bright;
    outline: none;
}

button.submitLoading:hover:not([disabled]) {
    outline: none;
}

button:focus {
    outline: $dark-gray;
}

.footerContainer {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin-top: 0.5rem;
}

.backButtonContainer {
    position: relative;
    & button.submit, div:last-child {
        position: absolute;               
        top: 50%;      
        left: 50%;          
        transform: translate(-50%, -50%)
    }
    @media screen and (min-width: 400px) {
        min-width: 20rem;
        & div:last-child {
            float: right;
            left: 9rem;
            top: 0.4rem;
        }
    }
    @media (orientation: landscape) {
        min-width: 20rem;
        & div:last-child {
            float: right;
            left: 9rem;
            top: 0.4rem;
        }
    }
    @media (orientation: portrait) {
        & div:last-child {
            float: right;
            left: 6.6rem;
            top: 0.4rem;        
        }
    }
}

div.error {
    color: $blue;
    font-size: 0.8rem;
}