.App {
  position: relative;
  min-height: 100vh;
}

.logo {
  margin: auto;
  width: 20rem;
}

body {
  font-family: "Cairo";
}

button {
  cursor: pointer;
  background-color: #dfdfdf;
}

button:hover:not([disabled]) {
	background-color: #d3d3d3;
}