@import "styles/variables";

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.App-content {
  padding: 1.5rem;
}

.App-blur {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(0.1rem);
  margin: 0; 
  padding: 0;
  min-width: 100vw;
  min-height: 90vh;
}

.logo {
  width: 15rem;
  height: 15rem;
}

@media screen and (min-width: 400px) {
  .logo {
    width: 10rem;
    height: 10rem;
    top: 0;
    position: absolute;
  }
}

body {
  font-family: "Cairo";
  margin: 0;
  padding: 0;
}

a {
  color: black;
}

button {
  font-family: 'Cairo';
  cursor: pointer;
  background-color: $medium-gray;
}

input {
  font-family: "Cairo";
}

p {
  margin: 0;
}

button:hover:not([disabled]) {
	background-color: $gray;
}

.loader {
  border: 16px solid $light-gray;
  border-top: 16px solid $blue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}