@import "../../styles/variables";

.episodeContainer {
	padding-top: 2rem;
}

div.dataSection {
	margin-bottom: 1rem;
}

div.dataTitle {
	display: block;
}

div.error {
	font-size: 1.2rem;
}

.episodeImage {
	display: block;
	position: relative;
	margin: 0 auto 1rem;
	width: auto;
	height: auto; 
	// min-width: 12rem;
	@media screen and (min-width: 768px) {
	  max-width: 30rem;
	  margin: 0;
	}
}

.header {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	justify-content: space-between;
	max-width: 50rem;
	//TODO: different rendering with desktop, will remove header
}

.episodeData {
	max-width: 40rem;
}

.episodeButtons {
	width: auto;
	flex-shrink: 0;
	button {
		display: inline-block;
		border: black;
		position: relative;
		border-radius: 50%;
		img {
			width: 3rem; 
			height: 3rem;
			position: absolute;
			left: 50%;
			top: 50%; 
			transform: translate(-50%, -50%);
		// 	margin-left: .6rem;
		}
		width: 5rem;
		height: 5rem;	
		margin-left: 1rem;
		// top: -1rem;
	}
	div:last-child {
		display: inline-block;
		margin-left: 1rem;
	}
}

button.editTranscription {
	font: bold 1rem Cairo, sans-serif;
	border: none;
	border-radius: 0.2rem;
	display: inline-flexbox;
	img {
		width: 1.1rem;
		height: 1.1rem;
		margin: 0 0 -0.15rem 0;
		padding: 0;
	}
}

.loaderSmall {
	display: inline-block;
}
