.container{
       position: absolute;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       justify-content: center;
       align-items: center;
       display: flex;
       backdrop-filter: blur(.5px);
       backdrop-filter: brightness(60%);
}

.innerContainer{
       background-color: white;
       border-radius: 5px;
}

.closeButton{
       position: relative;
       right: 0;
       cursor: pointer;
}

.resultsPill{
       cursor: pointer;
}

.upperPart{
       border-bottom: 1px solid lightgray;
       padding:5px;
       display: flex;
       flex-direction: row;
}

.border{
       background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 200%, #895cf2 100%);
       padding: 5px;
       border-radius: 5px;
       -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.27);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.27);
       box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.27);
       transition: all 1s ease-in;
}

.logo{
       width: 100px;
       height: 100px;
}

.lowerPart{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
}

.innerContent{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 15px;
       text-align:center;
}

.instructions{
       max-width: 75%;
       margin-bottom: 25px;
}

.form{
       display: flex;
       flex-direction: column;
       align-items: center;
}

.containers{
       display: flex;
       flex-direction: column;
       line-height: 25px;
       align-items: flex-start;
       font-size: 14px;
}

.submitButton{
       display: inline-block;
       width: 150px;
       margin-left: 5px;
       margin-top: 15px;
       text-decoration: none;
       text-align: center;
       color: white;
       border-radius: 5px;
       cursor: pointer;
       opacity: .5;
       box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
       background-image: linear-gradient(to right, #895cf2 0%, #6aaae1 100%, #bcd9ef 200%);
    &:hover {
           opacity: 1;
      background-position: right center;
    }  
}

.buttonContainer{
       display: flex;
       justify-content: center;
}